body
{
background-color: #D9D9D9;
}
.container
{
  width: 60%;
  margin: auto;
  border-style: solid;
  border-width: 2px;
}
.item
{
  font-size: 1vw;
  border-color: #F19F4D;
  color: #FFFFFF;
  background-color: #F19F4D;
  font-family: sans-serif;
  border-style: solid;
  border-radius: 5px;
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}
.pret
{
  color: #F9CF00;
  font-weight: bolder;
  font-family:monospace;
}
.nav-menu
{
  margin-top: -20px;
  top: 0px;
  font-size: 2vw;
  margin: auto;
  width: 100%;
  text-align:center;
  background-color: #4484CE;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
}
.menu
{
  padding-left: 200px;
  margin: auto;
  font-family: sans-serif;
  font-size: 1.5vw;
  padding-bottom: 2px;
  color: #FFFFFF;
  font-weight: lighter;
}
.menu td
{
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #4484CE;
  text-align: center;
}
.cart
{
  width: 5%;
  height: 5%;
}
legend
{
    font-family: sans-serif;
}
form
{
  width:20%;
  min-width:200px;
  margin:auto;
  padding: 16px;
}
input
{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;
}
a
{
  color: inherit;
  text-decoration: inherit;
  font-weight: lighter;
}
a:hover
{
  font-weight: bold;
}
input[type="submit"]
{
  border: none;
  background-color: #F9CF00;
  font-weight: bold;
  width: 40%;
  margin-top: 20px;
  min-width:100px;
  margin-left: 30%;
  margin-right: 30%;
}
.login-status
{
  margin-top: 8px;
  margin-right: 8px;
  font-weight: lighter;
  float: right;
  font-size: 1vw;
  font-family: sans-serif;
}
